.toolbar {
    background-color: var(--blinking-background);
    color: var(--blinking-text);
    display: flex;
    overflow: hidden;
    padding: 0;

    img {
      height: 44px;
    }

    nav{
      margin-left:auto;
      height: 100%;
      width: 20%;
      display: flex;

      align-self: flex-end;
      .nav-links{
        color: var(--blinking-text);
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: inherit;
        padding: 15px;
        transition: background-color 0.3s;

        &:hover{
          background-color: black;
        }
      }

      .nav-link-active{
        background-color: rgb(24, 79, 116);
      }
    }


}




