<mat-toolbar class="toolbar">
        <img src="../../assets/pictures/blinking.png" alt="" routerLink='/'>
        <!-- <p class="header-title" routerLink='/'>Blinking Intern -->
        <div class="home-link" routerLink='/' routerLinkActive='nav-link-active'>Blinking Interns</div>

        <nav>
          
          <div class="nav-links" routerLink='/register' routerLinkActive='nav-link-active'>Register</div>
          <div class="nav-links" routerLink='/login' routerLinkActive='nav-link-active'>Login</div>
          <div class="nav-links" routerLink='/user-profile' routerLinkActive='nav-link-active'>Profile</div>
          <div class="nav-links" routerLinkActive='nav-link-active'>Menu</div>
        </nav>

</mat-toolbar>
