.toolbar {
    margin: 0;
    padding: 0 10;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;    
    background-color: var(--blinking-background);
    color: var(--blinking-text);
   
    img {
      height: 44px;
    }

    .header-components a{
      text-decoration: none;
      color: var(--blinking-text);
      margin: 0 20px 0 0;
    }
    .spacer {
        flex: 1 1 auto;
      }
}




