<mat-toolbar class="footer">
    <nav class="nav-bar-links">
  
      <div class="nav-links" routerLink='/login' routerLinkActive='nav-link-active' *ngIf="!this.authService.loggedIn">
        <div>Login</div>
      </div>
      <div class="nav-links" routerLink='/register' routerLinkActive='nav-link-active' *ngIf="!this.authService.loggedIn">
        <div>Register</div>
      </div>
      <div class="nav-links" routerLink='/home' routerLinkActive='nav-link-active' *ngIf="this.authService.loggedIn">
        <div class="home-icon">
          <mat-icon>home</mat-icon>
          <mat-label>Home</mat-label>
        </div>
      </div>
      <div class="nav-links" routerLink='/user-profile' routerLinkActive='nav-link-active'
        *ngIf="this.authService.loggedIn && this.helperMethodService.getDataFromAccesToken().type === 'intern'"
        matTooltip="Profile">
        <div class="person-icon">
          <mat-icon>person</mat-icon>
          <mat-label>Profile</mat-label>
        </div>
      </div>
      <div class="nav-links" *ngIf="this.authService.loggedIn" [matMenuTriggerFor]="menu"
        (click)="removeAnimationNotification(menu)" matTooltip="Notifications">
        <div class="notification-icon">
          <mat-icon class="notifications-icon" [matBadgeHidden]='dataFromServerService.numberOfUnreadNotifications === 0'
            matBadge="{{dataFromServerService.numberOfUnreadNotifications}}" matBadgeColor="warn">notifications</mat-icon>
          <mat-label>Notifications</mat-label>
        </div>
      </div>
      <mat-menu #menu="matMenu" class="notifications-menu">
        <button mat-menu-item class="markAllAsRead" (click)='markAllAsRead()'>
          <span>Mark all as read</span>
          <div class="markAllAsReadIcon">
            <mat-icon class="mat-18 checkboxIcon">check_box</mat-icon>
          </div>
        </button>
        <div mat-menu-item *ngFor="let notification of dataFromServerService.notifications">
          <div #notificationContainer (click)="markAsRead($event, notificationContainer, notification)"
            class="notification-container" [ngClass]="{'newNotification':notification.seen===false}">
            <div class="notification-image"><img src="../../assets/pictures/task.png"></div>
            <div class="notification-data">
              <div class="notification-title">Notification title</div>
              <div class="notification-sender">From:{{notification.sender.email}}</div>
              <div class="notification-text">{{notification.text}}</div>
            </div>
            <div class="notification-seen" matTooltip="Mark as read" matTooltipPosition="above"
              [matTooltipDisabled]='notification.seen===true'>
              <mat-icon class="mat-18">check_circle</mat-icon>
            </div>
          </div>
        </div>
      </mat-menu>
      <div class="nav-links logout" routerLink='/login' routerLinkActive='nav-link-active'
        *ngIf="this.authService.loggedIn" (click)='logOut()' matTooltip="Log out">
        <div class="logout-icon">
          <mat-icon>exit_to_app</mat-icon>
          <mat-label>Log out</mat-label>
        </div>
      </div>
  
    </nav>
  
  </mat-toolbar>
