.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .section {
        width: 550px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        border: black;
        border-radius: 10px;

        box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
        // outline: none;
        background-color: var(--blinking-primary);
        font-family: 'Courier New', Courier, monospace;


        h1 {
            color: black;
        }

        .return-button {
            padding: 5px 15px;
            border-radius: 15px;
            height: 35px;
            display: flex;
            align-items: center;

            font-size: medium;
            color: var(--blinking-text);
            background-color: var(--blinking-background);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 700;

            cursor: pointer;
        }
    }
}

   

