
<div class="container">
    <form action="" class="login-form" [formGroup]="signupForm">
        <p class="header">Login</p>

        <div class="user-information">

            <div class="email-container">
                <mat-form-field class="email-form">
                    <mat-label>Email</mat-label>
                   <input matInput type="email" formControlName="email" class="email" #email>
                   <mat-error *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
                       Please enter a valid email adress
                   </mat-error>
                   <mat-error *ngIf="signupForm.get('email').hasError('required')">
                     Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <button class="remove-button" type="button" (click)="onClick('email')" [ngClass]="{'btn-hidden': email.value==='' }">x</button>

            </div>

            <div class="password-container">
                <mat-form-field class="password-form">
                    <mat-label>Password</mat-label>
                   <input matInput type="password" formControlName="password" #password>
                   <mat-error *ngIf="!signupForm.get('password').hasError('required') && signupForm.get('password').invalid">
                       Password must contain 6 characters
                   </mat-error>
                   <mat-error *ngIf="signupForm.get('password').hasError('required')">
                     Password is <strong>required</strong>
                   </mat-error>
               </mat-form-field>
               <button class="remove-button" type="button" (click)="onClick('password')" [ngClass]="{'btn-hidden': password.value==='' }">x</button>
            </div>

        </div>

        <mat-radio-group class="radio-group">
            <mat-radio-button value="intern" id="intern" #internRadio checked>Intern</mat-radio-button>
            <mat-radio-button value="mentor">Mentor</mat-radio-button>
        </mat-radio-group>

      <button mat-raised-button class="login-button" [disabled]="signupForm.invalid" (click)='onSubmit(internRadio)'>Log in</button>
    </form>

</div>
