.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-color: var(--blinking-primary);
        border-radius: 10px;

        box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);

        padding: 10px;
        // height: 500px;
        height: 55%;
        // width: 450px;
        width: 26%;

        .header {
            font-size: 35px;
            font-weight: 500;
        }

        .user-information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;

            .email-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .email-form {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            .password-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .password-form {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            .remove-button {
                border: none;
                outline: none;
                background-color: transparent;
                color: black;
                font-size: x-large;
                font-weight: bolder;

                width: 20px;
                position: relative;
                right: 25px;
                bottom: 15px;

                &.btn-hidden{
                  visibility: hidden;
                }
            }
        }

        .mat-radio-button ~ .mat-radio-button {
            margin-left: 16px;
        }

        .login-button {
            border-radius: 15px;
            padding: 3px 25px;
            background-color: var(--blinking-background);
            outline: none;
            color: var(--blinking-text);
            margin: 15px 0;
            cursor: pointer;
            font-size: 20px;

            &:disabled {
                background-color: #146fa394;
                cursor: not-allowed;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .container {
        min-width: 100%;

        .login-form  {
            min-width: 70%;


            .login-button {

            } 
        }
    }
}
