.dialog-container {
  width: 80vw;
  height: 90vh;
  min-width: 300px;
  min-height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dialog-container [mat-dialog-title] {
  padding: 25px 0;
  text-align: center;
  font-size: 2rem;
  background-color: var(--blinking-background);
  color: white;
  margin: 0;
}

.dialog-container [mat-dialog-content] {
  overflow-y: hidden;
  padding: 5%;
}

.dialog-container [mat-dialog-content] form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dialog-container [mat-dialog-content] form .form-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333;
          flex: 0 0 33.333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dialog-container [mat-dialog-content] form .form-group mat-label {
  font-size: 1.5rem;
}

.dialog-container [mat-dialog-content] form .form-group.deadline-taskType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dialog-container [mat-dialog-content] form .form-group.deadline-taskType > * {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dialog-container [mat-dialog-content] form .example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.dialog-container [mat-dialog-content] form .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dialog-container [mat-dialog-content] form .btns .upload-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.dialog-container [mat-dialog-content] form .btns .upload-info label {
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-container [mat-dialog-content] form .btns .upload-info .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  height: 75px;
  width: 70%;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.66);
  margin-bottom: 10px;
}

.dialog-container [mat-dialog-content] form .btns .upload-info .upload label {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.dialog-container [mat-dialog-content] form .btns .upload-info .upload .file-input {
  display: none;
}

.dialog-container [mat-dialog-content] form button {
  padding: 20px 5px;
  width: 20%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.66);
}
/*# sourceMappingURL=add-task-modal.component.css.map */