.dialog-container{
  width: 80vw;
  height: 90vh;
  min-width: 300px;
  min-height: 400px;

  overflow-x: hidden;


  [mat-dialog-title]{
    padding: 25px 0;
    text-align: center;
    font-size: 2rem;
    background-color: var(--blinking-background);
    color:white;
    margin:0;
  }


  [mat-dialog-content]{
    padding: 5%;
    form{

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .form-group{
        flex: 0 0 33.333333;

        mat-label{
          font-size: 1.5rem;
        }

        display: flex;
        flex-direction: column;

        &.deadline-file{
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & > *{
            flex:1;
            justify-content: space-between;
          }
        }

      }

      button{
        width: 200px;
        position: absolute;
        bottom:100px;
        left:50%;
        transform: translateX(-50%);
      }
    }
  }
}
