<div class="dialog-container">
  <h1 mat-dialog-title>Add new task dialog</h1>
  <div mat-dialog-content>
    <form [formGroup]="taskForm" (ngSubmit)="submitNewTask()">


        <mat-form-field class="form-group" appearance="fill">
          <mat-label>Title</mat-label>
          <input type="text" matInput required formControlName="title">
        </mat-form-field>

        <mat-form-field class="form-group" appearance="fill">

          <mat-label>Text</mat-label>
          <textarea matInput cols="30" rows="5" required formControlName="text" placeholder="Task description"></textarea>

        </mat-form-field>

        <div class="form-group deadline-taskType">
          <mat-form-field appearance="fill">
            <mat-label>Set deadline</mat-label>
            <input matInput [matDatepicker]="picker" formControlName='deadline'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="taskForm.get('deadline').hasError('invalidDate')">
              You must choose some date in future!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Choose task type</mat-label>
            <mat-select formControlName='task_type'>
              <mat-option *ngFor='let type of taskTypeList' [value]='type'>{{type}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <mat-form-field appearance="fill">
          <mat-label>Assign to</mat-label>
          <mat-select formControlName='interns' multiple>
            <mat-select-trigger>
              {{taskForm.get('interns').value ? taskForm.get('interns').value[0]?.full_name : ''}}
              <span *ngIf="taskForm.get('interns').value?.length > 1" class="example-additional-selection">
                (+{{taskForm.get('interns').value.length - 1}} {{taskForm.get('interns').value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>

            <mat-option (click)='logValue()' *ngFor='let intern of interns' [value]='intern'>{{intern.full_name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit">Submit new Task</button>

    </form>
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">No Thanks</button>
    <button mat-button >Ok</button>
  </div> -->
</div>

