<div class="dialog-container">
  <h1 mat-dialog-title>Add new task dialog</h1>
  <div mat-dialog-content>
    <form [formGroup]="taskForm">

      <div class="form-group">
        <mat-form-field >
          <mat-label>Set deadline</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>Title</mat-label>
        <input type="text" matInput [formControl]="taskForm" placeholder="Ex. pat@example.com">
      </div>

      <div class="interns-container form-group">
        <div *ngFor="let intern of interns">
          <div>{{intern.full_name}}</div>
        </div>
      </div>

    </form>
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">No Thanks</button>
    <button mat-button >Ok</button>
  </div> -->
</div>

