.container {
    // height: 700px;
    height: 70vh;
    // width: 600px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    .title {
        margin: 20px;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }

    .password-section {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .password-form {
            margin: 20px;
            mat-label {
                font-family: 'Courier New', Courier, monospace;
            }
        }

        mat-form-field {
            // width: 350px;
            width: 90%;
        }

        .errorMessage {
            margin-top: 20px;
            color: red;
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .button-container {
        // width: 400px;
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .confirm-button {
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            padding: 5px 20px;
            border-radius: 10px;
        }
    
        .close-button {
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            padding: 5px 20px;
            border-radius: 10px;
        }
    }
}


// MEDIA QUERIES

@media screen and (max-width: 600px) {
    .container {
        height: 80vh;
        width: 85vw;

        .title {
            margin-top: 10px;
            font-size: 28px;
        }

        .password-section {

            .password-form {
                mat-label {
                    font-size: 18px;
                }
            }
        }

        .button-container { 
    
            .confirm-button {
                font-size: 15px;
                padding: 5px 15px;
            }
        
            .close-button {
                font-size: 15px;
                padding: 5px 15px;
            }
        }

    }
    
}