<div class="container">
    <h1 class="title" mat-dialog-title>Change Password</h1>
        <form [formGroup]="changeForm" class="password-section">
            
            <mat-form-field class="password-form">
                <mat-label>Old password</mat-label>
                <input [type]="hide ? 'password' : 'text'"  matInput formControlName="oldPassword" required #oldPassword>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changeForm.get('oldPassword').invalid">{{ getErrorMessage('oldPassword') }}</mat-error>
                <p class="errorMessage"></p>
            </mat-form-field>

            <mat-form-field class="password-form">
                <mat-label>New password</mat-label>
                <input [type]="hide2 ? 'password' : 'text'" matInput formControlName="newPassword" required #newPassword> 
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" > 
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changeForm.get('newPassword').invalid">{{ getErrorMessage('newPassword') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="password-form">
                <mat-label>Confirm password</mat-label>
                <input [type]="hide1 ? 'password' : 'text'" matInput formControlName="confirmNew" required #confirmNew>
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" >
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changeForm.get('confirmNew').invalid">{{ getErrorMessage('confirmNew') }}</mat-error>
            </mat-form-field>
            
        </form>

        <button mat-raised-button class="confirm-button" [disabled]='!isValid()'>Confirm</button>
           
</div>
