.container {
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    .title {
        margin: 20px;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }

    .password-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .password-form {
            margin: 20px;
            mat-label {
                font-family: 'Courier New', Courier, monospace;
            }
        }

        mat-form-field {
            width: 350px;
        }

        .errorMessage {
            margin-top: 20px;
            color: red;
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .button-container {
        width: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .confirm-button {
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            padding: 5px 20px;
            border-radius: 10px;
        }
    
        .close-button {
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            padding: 5px 20px;
            border-radius: 10px;
        }
    }
 

   
}