.modal {
    width: 50vw;
    height: 80vh;
    border-radius: 15px;
    position: relative;

    .modal-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      margin:auto;
      width: 100%;
      height: 100%;
      background-color: white;


      .task-title {
        margin: 30px 0 10px 0;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: var(--blinking-black);

        h1 {
          font-size: 40px;
        }

      }

       .position {
           height: 100%;
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-between;

           .task-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            color: var(--blinking-black);
            font-size: x-large;

            img {
              width: 450px;
              height: 250px;
              margin: 0 0 15px 0;
            }

            .text {
              margin-top: 10px;
              align-self: flex-start;
            }
          }

          .inside-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .task-status {
              margin-left: 15px;
              font-size: x-large;
              font-weight: bold;
            }

            .red{
              color:red;
            }

            .blue{
              color:blue;
            }

            .green{
              color:green
            }

            .task-progress {
              margin: 15px;
              color: var(--blinking-black);
            }

            .document {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 15px;
              bottom: 10px;

              &>div{
                margin-right: 10px;
                margin-bottom: 10px;
                width: 80px;
                height: 80px;
                button{
                  background-color: var(--blinking-background);
                  width: 100%;
                  height: 100%;

                  mat-icon{
                    font-size: 1.6rem;
                  }
                }
              }
            }

            .actions {
              visibility: hidden;
            }

            .actions-menu {
              visibility: hidden;
            }
          }
    }

  }

    .close-modal {
      padding: 20px;
      cursor: pointer;
      color: red;
      font-size: x-large;
      width: 20px;
      font-weight: bolder;
      position: absolute;
      top:0;
      right: 0;

    }

    .file-preview-container{
      position: fixed;
      margin:auto;
      width: 80vw;
      height: 80vh;
      background-color: gray;

      .iframe {
        height: 100%;
        width: 100%;
        overflow: auto;
        border: none;
      }

      .close {
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
    }
    }
    .closeDiv {
      display: none;
  }
}


/* MEDIA QUERIES */


@media screen and (max-width: 600px){  
    .modal {
      height: 70vh;
      width: 80vw;


      .modal-inner {

        .task-title {
          margin-top: 15px;

          h1 {
            font-size: 32px;
          }
        }

        .position {

          .task-text {
              margin: 10px;

            img {
              width: 300px;
              height: 220px;
              margin-bottom: 10px;
            }
          }

          .inside-container  {

            .task-status {
              font-size: 18px;
            }

            .task-progress  {
              margin-top: 5px;
              font-size: 15px;
            }

            .document {
              visibility: hidden;
              position: initial;

              &>div{
                visibility: hidden;
                width: 50px;
                height: 50px;
                button {
                  background-color: var(--blinking-background);
                  width: 100%;
                  height: 100%;

                  mat-icon{
                    font-size: 1.3rem;
                    height: 25px;
                  }
                }
              }
            }
            .actions {
              visibility: visible;
              
              .launch-button {
                margin-right: 15px;
                margin-bottom: 15px;
                background-color: white;
                color: var(--blinking-background);
                margin-top: 3px;

              }
            }

            .actions-menu {
              visibility: visible;

            }
          }
        }
      } 
      
      .mat-fab .mat-button-wrapper {
        padding: 15px 0 !important;
     }
    }
      .viewSection {
        padding-left: 8px !important;

        mat-icon {
            color: black;
            margin-right: 5px !important;
        }
        &:hover {
            background-color: rgb(226, 226, 226);
        }
    } 
  
    .downloadSection {
      padding-left: 8px !important;

      mat-icon {
          color: black;
          margin-right: 5px !important;
      }
      &:hover {
          background-color: rgb(226, 226, 226);
      }
    }
    

}