<div class="modal">
    <div class="modal-inner">

        <div class="task-title">
          <h1 mat-dialog-title>
            {{this.data.task.title}}
          </h1>
        </div>


        <div class="position">

            <div class="task-text">
                <img src="{{ this.helperMethodService.getImageUrl(this.data.task.task_type) }}" alt="">
                <div class="text">
                    {{this.data.task.text}}
                </div>

            </div>

            <div class="inside-container">

                <div class="status-progress">
                    <div class="task-status {{statusColor}}" >
                        <label for="task-status">{{this.data.task_status}}</label>
                    </div>

                    <div class="task-progress">
                        <label for="task-progress">Progress: </label>
                        {{this.data.progress}}%
                    </div>
                </div>

                <div class="document">
                    <div class="view-document">
                        <mat-icon matTooltip="View"
                                  matTooltipPosition = 'above'>remove_red_eye</mat-icon>
                    </div>
                    <div class="download">
                        <button mat-fab
                                matTooltip="Download"
                                matTooltipPosition = 'above'
    
                                class="download-button">
                        <mat-icon>download</mat-icon>
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div class="close-modal" (click)="closeModal()">X</div>
    </div>
  </div>
