/* You can add global styles to this file, and also import other style files */
:root {
    --blinking-primary: #dddddd;
    --blinking-secondary: #20a59e;
    --blinking-background: #a31414;
    --blinking-text: #e0ffff;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
