<div class="main-container">
    <div class="card-container">
        <h1>All tasks</h1>
        <div class="task-container">
            <div class="task" *ngFor="let task of tasks">
                <mat-card>
                    <img mat-card-image class='image' src='{{ this.helperMethodService.getImageUrl(task.type)}}' alt="">
                    <h3>{{ task.title }}</h3>
                    <mat-progress-bar mode="determinate" value="{{ task.progress }}"></mat-progress-bar>
                    <label for="">{{ task.progress }}% Complete</label>
                    <button class="button-details" (click)='showDetails(task)'>More details</button>
                </mat-card>
            </div>
        </div>
    </div>
</div>
