<div class="main-container">
    <div class="card-container" *ngIf="this.helperMethodService.getDataFromAccesToken().type === 'intern'">
        <h1>All tasks</h1>
        <div class="task-container">
            <div class="task" *ngFor="let assignment of dataFromServer.assignments">
                <mat-card class="individual-task">
                    <img mat-card-image class='image' src='{{ this.helperMethodService.getImageUrl(assignment.task.task_type)}}' alt="">
                    <h3>{{ assignment.task.title }}</h3>
                    <mat-progress-bar mode="determinate" value="{{ assignment.progress }}"></mat-progress-bar>
                    <label for="">{{ assignment.progress }}% Complete</label>
                    <button class="button-details" (click)='showDetails(assignment)'>More details</button>
                </mat-card>
            </div>
        </div>
    </div>
    <div  class="mentor-container"  *ngIf="this.helperMethodService.getDataFromAccesToken().type === 'mentor'">
        <h1 class="mentor-h1">All interns</h1>
        <div class="interns-container">
            <mat-card class="interns">
                <div class="image-div">
                    <img mat-card-image class="image" src="../../assets/pictures/user-image.png" alt="">
                </div>
                <div class="intern-information">
                    <h3>Intern name</h3>
                    <h4>Intern email</h4>
                    <h4>Nubmer of completed tasks: </h4>
                </div>
                <div class="more-information">
                    <button mat-fab>See more information</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
