<div class="main-container">
    <div class="card-container" *ngIf="this.helperMethodService.getDataFromAccesToken().type === 'intern'">
        <h1>All tasks</h1>
        <div class="task-container">
            <div class="task" *ngFor="let assignment of dataFromServer.assignments">
                <mat-card class="individual-task">
                    <img mat-card-image class='image' src='{{ this.helperMethodService.getImageUrl(assignment.task.task_type)}}' alt="">
                    <h3>{{ assignment.task.title }}</h3>
                    <mat-progress-bar mode="determinate" value="{{ assignment.progress }}"></mat-progress-bar>
                    <label for="">{{ assignment.progress }}% Complete</label>
                    <button class="button-details" (click)='showDetails(assignment)'>More details</button>
                </mat-card>
            </div>
        </div>
    </div>
    <div  class="mentor-container"  *ngIf="this.helperMethodService.getDataFromAccesToken().type === 'mentor'">
        <h1 class="mentor-h1">All interns</h1>
        <div class='interns-container'>
            <mat-card class="interns" *ngFor="let intern of dataFromServer.interns">
                    <div class="image-div">
                        <img mat-card-image class="image-intern" src="../../assets/pictures/user-image.png" alt="">
                    </div>
                    <div class="intern-information">
                        <p class="name">{{ intern.full_name }}</p>
                        <div class="email">
                            <label >Email:</label>
                            <p>{{ intern.email }}</p>
                            <p>Nubmer of completed tasks</p>
                        </div>
                    </div>
                    <div class="more-information">
                        <button mat-raised-button class="see-more" (click)='seeMore(intern)'>See more</button>
                    </div>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf="this.helperMethodService.getDataFromAccesToken().type === 'mentor'">
  <span class="add-task-btn">
    <svg (click) = "addTaskModal(dataFromServer.interns)"
    matTooltip="Add new task"
    matTooltipClass="add-task-tooltip"
    aria-label="Add new task"
    matTooltipHideDelay="500"
    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4 11h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3H8c-.55 0-1-.45-1-1s.45-1 1-1h3V8c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z"/></svg>
  </span>
</div>
