.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .personal-info-container {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;

        .image {
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .image-user {
                font-family: 'Courier New', Courier, monospace;
                font-size: 30px;
                margin: 5px 0 10px 0;
            }

            .image-frame {
                height: 80%;
                width: 400px;
                // width: 80%;
                border: silver;
                border-style: groove;
                
                img {
                    margin-top: 10px;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .vertical-line {
            margin-top: 20px;
            height: 95%;
            width: 2px;
            
            background-color: silver;
        }

        .user-info {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .header {
                margin: 15px 0 10px 0;
                align-self: center;
                font-size: 30px;
                font-weight: 500;
                font-family: 'Courier New', Courier, monospace;
            }

            .window-information {
                width: 90%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 40px;

                .information {
                    font-family: 'Courier New', Courier, monospace;
                    height: 100px;
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-left: 10px;

                    .email {
                        margin: 10px;
                    }
    
                    mat-divider {
                        margin: 5px 0 5px 10px;
                        color: black;
                        border-top-style: solid;
                        border-top-width: 2px; 
                        width: 350px;
                    }
    
                    .password {
                        margin: 10px;
                    }
                }

                .settings {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: 100px;
                    margin-left: 20px;

                    .settings-icon {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .label-settings {
                            font-family: 'Courier New', Courier, monospace;
                            margin: 10px;
                        }
                    }

                    .change-password {
                        font-family: 'Courier New', Courier, monospace;
                    }
                   
                }

            }

            .user-status {
                margin-left: 40px;
                padding-left: 10px;

                height: 100px;
                width: 80%;

                .edit-icon{
                    cursor: pointer;
                }

                .status-label {
                    font-family: 'Courier New', Courier, monospace;
                    margin: 10px;
                }
                
                .status {
                    width: 400px;

                    .status-input {
                        margin: 10px;
                        width: 300px;
                        height: 40px;
                    }

                }
               
            }
            
        }

    }

    hr {
        margin: 20px 0 20px 0;
        width: 95%;
        height: 1px;
        color: silver;
        box-shadow: 7px 5px 13px -0.5px rgba(0, 0, 0, 0.37);
    }

    .tasks-container {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .filters  {
            width: 60%;
            height: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;

            .completed {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                .completed-button {
                    margin-left: 5px;
                    padding: 10px;
                    outline: none;
                    border-width: 1px; 
                    border-style: solid;
                    border-radius: 15px;
                    background-color: white;
                }

                .statusActive {
                    background-color: green;
                }
            }

            .active {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                .active-button {
                    margin-left: 5px;
                    padding: 10px;
                    outline: none;
                    border-width: 1px; 
                    border-style: solid;
                    border-radius: 15px;
                    background-color: white;
                }

                .statusActive {
                    background-color: blue;
                }
            }

            .overdue {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                .overdue-button {
                    margin-left: 5px;
                    padding: 10px;
                    outline: none;
                    border-width: 1px; 
                    border-style: solid;
                    
                    border-radius: 15px;
                    background-color: white;
                }

                .statusActive {
                    background-color: red;
                }
            }
        }

        .group-tasks {
            margin: 20px 10px;
            padding: 0;
            outline: none;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
          

            .spinner {
                margin: 30px;
            }
            .task-section {
                margin: 20px;
                margin-bottom: 30px;
                padding: 0;
                height: 100%;
                width: 95%;
                display: flex;
                justify-content: center;
               
                .individual-task {
                    margin: 0;
                    padding: 5px;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.66);


                    .image-section {
                        width: 34%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        img {
                            height: 300px;
                            width: 95%;
                            margin-left: 10px;
                            // justify-self: center;
                        }
        
                    }

                    .task-info-section {
                        height: 100%;
                        width: 33%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
        
                        .title {
                            align-self: center;
                            margin: 10px;
                            font-size: 35px;
                        }
        
                        .text {
                            font-size: 20px;
                            margin: 10px 0 10px 10px;
        
                        }
        
                    }

                    .download-section {
                        height: 100%;
                        width: 33%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        button {
                            width: 80px;
                            height: 80px;
                            display: flex;
                            justify-items: center;
                            align-items: center;
    
                            mat-icon {
                                width: 80px;
                                height: 30px;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}