.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .personal-info-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        .image {
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .image-user {
                font-family: 'Courier New', Courier, monospace;
                font-size: 30px;
                margin: 5px 0 10px 0;
            }

            .image-frame {
                height: 80%;
                width: 400px;
                // width: 80%;
                border: silver;
                border-style: groove;
                
                img {
                    margin-top: 10px;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .vertical-line {
            margin-top: 10px;
            height: 95%;
            width: 2px;
            
            background-color: silver;
        }

        .user-info {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .header {
                margin: 15px 0 10px 0;
                align-self: center;
                font-size: 30px;
                font-weight: 500;
                font-family: 'Courier New', Courier, monospace;
            }

            .window-information {
                width: 90%;
                display: flex;
                justify-content: space-around;

                .information {
                    font-family: 'Courier New', Courier, monospace;
                    height: 100px;
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 40px;
    
                    .email {
                        margin: 10px;
                    }
    
                    mat-divider {
                        margin: 5px 0 5px 10px;
                        color: black;
                        border-top-style: solid;
                        border-top-width: 2px; 
                        width: 350px;
                    }
    
                    .password {
                        margin: 10px;
                    }
                }

                .settings {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 40px;

                    .settings-icon {
                        display: flex;
                        align-items: center;

                        .label-settings {
                            font-family: 'Courier New', Courier, monospace;
                            margin: 10px;
                        }
                    }

                    .change-password {
                        font-family: 'Courier New', Courier, monospace;
                    }
                   
                }

            }

            .user-status {
                margin: 20px 0 10px 60px;
                height: 100px;
                width: 80%;

                .status-label {
                    font-family: 'Courier New', Courier, monospace;
                    margin: 10px;
                }
                
                .status {
                    width: 400px;

                    .status-input {
                        margin: 10px;
                        width: 300px;
                        height: 40px;
                    }

                }
               
            }
            
        }

    }

    hr {
        margin: 20px 0 20px 0;
        width: 95%;
        height: 1px;
        color: silver;
        box-shadow: 7px 5px 13px -0.5px rgba(0, 0, 0, 0.37);
    }

    .tasks-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        mat-card {
            margin: 10px;
            margin-top: 20px;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.66);
            width: 80%;
            display: flex;
            justify-items: center;
            // padding: 10px;
          

            .task-section {
                margin: 10px;
                padding: 10px;
                height: 90%;
                width: 100%;
                display: flex;
                justify-content: center;
               
    
                .image-section {
                    width: 34%;
                    height: 100%;
                  
    
                    img {
                        height: 100%;
                        width: 90%;
                        margin-left: 10px;
                        // justify-self: center;
                    }
    
                }
    
                .task-info-section {
                    height: 100%;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
    
                    .title {
                        align-self: center;
                        margin: 10px;
                        font-size: 35px;
                    }
    
                    .text {
                        font-size: 20px;
                        margin: 10px 0 10px 10px;
    
                    }
    
                }
    
                .download-section {
                    height: 100%;
                    width: 33%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        width: 80px;
                        height: 80px;
                        display: flex;
                        justify-items: center;
                        align-items: center;

                        mat-icon {
                            // padding: 0 !important;
                            width: 80px;
                            font-size: 30px;
                        }
                    }
                }
    
            }
        }
        

    }
}