<div class="container">
    <div class="personal-info-container">
        <div class="image">
            <div class="image-user">
                User
            </div>
            <div class="image-frame">
                <img src="../../assets/pictures/user-image.png" alt="">
            </div>
        </div>
        <div class="vertical-line">

        </div>
        <div class="user-info">

            <div class="header">
                Personal Information
            </div>

            <div class="window-information">
                <div class="information">
                    <div class="email" >
                        <label for="email">Email: </label>
                        {{ intern.email }}
                    </div>
                    <mat-divider></mat-divider>
                    <div class="password" >
                        <label *ngIf="intern.full_name!==''">Full name: {{ intern.full_name }}</label>
                        <label *ngIf="intern.full_name===''">Full name: /</label>

                    </div>
                </div>
                    <div class="settings" *ngIf="this.userType === 'intern'">
                    <div class="settings-icon">
                        <mat-icon (click)='changePassword(this.intern)'>settings</mat-icon>
                        <label class="label-settings">Settings</label>
                    </div>


                    <button mat-raised-button class="change-password" (click)='changePassword(this.intern)'>Change Password</button>
                </div>
            </div>


            <div class="user-status">
                <label for="" class="status-label">Status</label>
                <mat-icon class="edit-icon" (click)='editStatus()' *ngIf="this.userType === 'intern'">edit</mat-icon>
                <div class="status">
                    <input type="text" name="status" id="status" class="status-input" [disabled]='!edit'>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="tasks-container">
        <div class="filters" *ngIf="this.userType === 'mentor'" >
            <div class="completed">
                <label for="btnC">Completed</label>
                <button class="completed-button statusActive" id="btnC" (click)='statusActive("Completed",btnC)' #btnC></button>
            </div>
            <div class="active">
                <label for="btnA">Active</label>
                <button class="active-button" id="btnA" (click)='statusActive("Active",btnA)' #btnA></button>
            </div>
            <div class="overdue">
                <label for="btnU">Overdue</label>
                <button class="overdue-button" id="btnU" (click)='statusActive("Overdue",btnU)' #btnU></button>
            </div>
       </div>
        <div class="group-tasks">

            <div class="spinner" *ngIf="this.load">
                <mat-spinner></mat-spinner>
            </div>

            
            <div class="task-section" *ngFor="let assignment of assignments">
                <mat-card class="individual-task" *ngIf="(this.activeFilters.includes(assignment.task_status) || this.userType === 'intern') && !this.load">
                    <div class="image-section">
                        <img src="{{ this.helperMethodService.getImageUrl(assignment.task.type)}}" alt="">
                    </div>
                    <div class="task-info-section">
                            <div class="title">{{ assignment.task.title }}</div>
                            <div class="text">{{ assignment.task.text }}</div>
                    </div>
                    <div class="download-section">
                        <button mat-fab
                                color="primary"
                                matTooltip='Download'
                                matTooltipPosition = 'above'
                                class="button-download">
                            <mat-icon>download</mat-icon>
                        </button>
                    </div>
                </mat-card>

            </div>
         </div>
    </div>
</div>
