<div class="container">
    <form class="register-form" [formGroup]='signupForm'>
        <p class="header">Register</p>

        <div class="user-information">

            <div class="fullName-container">
                <mat-form-field class="fullName">
                    <mat-label>Full name</mat-label>
                    <input type="text" matInput formControlName='fullName' #fullName>
                    <mat-error *ngIf="signupForm.get('fullName').hasError('required')">
                        Full name is <strong>required!</strong>
                    </mat-error>
                </mat-form-field>
               <button class="remove-button" type="button" (click)="onClick('fullName')" [ngClass]="{'btn-hidden': fullName.value==='' }">x</button>
            </div>


            <div class="email-container">
                <mat-form-field class="email">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName='email' #email>
                    <mat-error *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
                        Please enter a valid email adress
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('required')">
                       Email is <strong>required</strong>
                 </mat-error>
                </mat-form-field>
               <button class="remove-button" type="button" (click)="onClick('email')" [ngClass]="{'btn-hidden': email.value==='' }">x</button>
            </div>


            <div class="password-container">
                <mat-form-field class="password">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName='password' #password>
                    <mat-error *ngIf="!signupForm.get('password').hasError('required') && signupForm.get('password').invalid">
                        Password must contain 6 characters
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('password').hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
               <button class="remove-button" type="button" (click)="onClick('password')" [ngClass]="{'btn-hidden': password.value==='' }">x</button>
            </div>

        </div>

        <mat-radio-group class="radio-group">
            <mat-radio-button value="intern" id="intern" #internRadio checked>Intern</mat-radio-button>
            <mat-radio-button value="mentor">Mentor</mat-radio-button>
        </mat-radio-group>

        <button class="register-button" [disabled]="!signupForm.valid" (click)='onSubmit(internRadio)'>Register</button>

    </form>
</div>
